{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="d-flex flex-row profile-page">
  <div class="col-4 col-sm-4 col-md-4 col-lg-3">
    <img class="img-fluid prof-pic" src="{{ g.user.image_url }}">
    <div class="row mt-4">
      <div class="col-12">
        <h3>Your Liked Cafes</h3>
        {% if g.user.liked_cafes %}
        <ul>
          {% for cafe in g.user.liked_cafes %}
          <li class="text-outline"><a href="/cafes/{{ cafe.id }}" class="text-info">{{ cafe.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <h8 class="text-primary">&nbsp;You have no liked cafes</h8>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-10 col-md-8">
    <h1>{{ g.user.get_full_name() }}</h1>
    <p class="lead"> {{ g.user.description }} </p>

    <p><b>Username:</b> {{ g.user.username }} </p>
    <p><b>Email:</b> {{ g.user.email }} </p>

    <p>
      <a class="btn btn-outline-primary" href="/profile/edit">
        Edit Your Profile
      </a>
    </p>

  </div>

</div>
{% endblock %}