.prof-pic {
  height: 20vh;
  border-radius: 50%;
}

.img-fluid {
  padding-top: 8px;
}

.like-button {
  margin-left: 15px;
  margin-top: 10px;
}

.map-img {
  width: 500px;
  height: 500px;
}

.edit-delete-cafe {
  gap: 10px;
}

.edit-delete-restaurant {
  gap: 10px;
}

.home-buttons {
  gap: 15px;
}

.welcome-msg {
  margin-top: 15vh;
}

.block-content {
  margin-top: 7vh;
}

.profile-page {
  justify-content: center;
  gap: 20px;
}